/* Estilo aplicado a todo el HTML */
* {
  box-sizing: border-box;											/* Hace que el padding agregado y el border agregado ya cuenten dentro del width y height total del elemento */
}

/* Estilo aplicado al body */
body {
  font-family: Arial, Helvetica, sans-serif;	/* font-family define una lista de fuentes o familias de fuentes, con un orden de prioridad.*/
  font-size: 100%;														/* font-size define el tamaño del font.*/
  margin: 0px;																/* margin define el tamaño del margen.*/
  line-height: 1.5;														/* line-height establece la altura de una casilla remarcada por líneas.*/
}

/* Container tipo grid */
.container {
  display: grid;															/* display: grid define un layout tipo grid.*/
  grid-template-areas: 												/* grid-template-areas especifica nombres para cada una de las áreas del grid */
    'header header header header header header' 
    'main main main main main main' 
    'footer footer footer footer footer footer';
} 

/* Estilo para la cabecera */
.header {
  grid-area: header;													/* grid-area: referencia a una o varias de las celdas del grid con un nombre específico.*/
  background-color: #f1f1f1;									/* background-color define el color de fondo de un elemento */
  text-align: center;													/* text-align especifica el alineamiento horizontal de un texto en un elemento */
}

/* Estilo para la sección principal */
.main {
  grid-area: main;
}

/* Estilo para el pie */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  text-align: center;
}

/* Estilo para la barra de navegación */
ul.topnav {
  list-style-type: none;				/* list-style-type: especifica la apariencia del listado. El valor "none" quita todo estilo. */
  margin: 0;
  padding: 0;
  overflow: hidden;							/* especifica si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento. */
  background-color: #1e2127;
}

/* Estilo para los items de la barra de navegación */
ul.topnav li {
	float: left;									/* float: ubica un elemento al lado izquierdo o derecho de su contenedor */
}

/* Estilo para los items y elementos anchor, dentro de la barra de navegación */
ul.topnav li a {
  display: block;								/* display: block declara un formato en forma de bloque*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;				/* text-decoration: establece formato de texto subrayado/suprarrayado/tachado/parpadeo */
}

/* Estilo para los items y elementos anchor, que no son "active" y sobre el cual paso el mouse */
ul.topnav li a:hover:not(.active) {
  background-color: #5e5e5e;
}

/* Estilo para los items y elementos anchor, que son "active" */
ul.topnav li a.active {
  background-color: #0275cc;
}

/* Estilo para los items y elementos anchor, de clase "right" (los ubicados a la derecha de la barra) */
ul.topnav li.right {
  float: right;
}

/* Estilo para todas las partes de la tabla */
table {
  background: #ffffff;								/* "background: #ffffff" equivale a "background-color: #ffffff" */
  border-collapse: collapse;					/* "border-collapse: collapse" hace que las celdas compartan bordes */
  margin: auto;												/* "margin: auto" indica el margen en "automático" para los cuatro lados de la tabla */
  width: 98%; 												/* width: especifica el ancho del area de contenido de un elemento  */
  color:#676c87;											/* color: Selecciona el valor de color de primer plano del contenido de elemento de texto y decoraciones de texto */
  font-size:medium;										/* font-size: especifica la dimensión de la letra */
  text-align:center;									/* text-align: especifica el alineamiento horizontal del texto */ 
  vertical-align:middle;							/* vertical-align: especifica el alineado vertical de un elemento en línea o una celda de una tabla */
}

/* Estilo para las celdas del encabezado y las celdas de datos de la tabla */
th, td {
  padding:5px; 												/* padding: espacio de relleno requerido por todos los lados de un elemento */ 
}

/* Estilo para las celdas del encabezado de la tabla */
th {
  color:#d4dce3;					
  background:#1e2127;
  border: 2px solid #343a45;
  position: sticky;						/* position: sticky -> Elemento posicionado relativamente hasta que su bloque contenedor cruza un límite establecido */
  top:0;											/* Top: distancia entre el borde superior del elemento y el borde superior del bloque contenedor */ /* Necesario para sticky*/
}

/* Fila de datos de la tabla - Cambio de color en filas impares */ 
tr:nth-child(odd) td {
  background:#eaeaea;
}

/* Fila de datos de la tabla - Cambio de color al señalar fila */  
tr:hover td {
  background:#4f5167;
  color:#ffffff;
}

/* Responsive: Para áreas pequeñas se modifica la disposición de la barra de navegación y el grid*/
@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
	  float: none;
  }
  
  /*.container  {
    grid-template-areas: 
      'header header header header header header' 
	  'main main main main main main' 
      'footer footer footer footer footer footer';
  } */
}