/* Selectores de tipo */
body {  /* Asigno parámetros para todo lo que se encuentra dentro de body */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

/* Selectores de clase */
.container {  /* Asigno parámetros para la clase container */
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.clearFix { /* Asigno parámetros para la clase clearfix */
  clear: both;
}

/* Selector de ID */
#mainHeader {  /* Asigno parámetros para el ID mainHeader */
  background: #333;
  color: white;
}
#mainNav {    /* Asigno parámetros para el ID mainNav */
  background: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#mainNav ul { /* Asigno parámetros para los elementos ul, dentro del ID mainNav */
  padding: 0;
  margin: 0;
  list-style: none;
}
#mainNav li {  /* Asigno parámetros para los elementos li, dentro del ID mainNav */
  display: inline;
  padding: 5px 10px;
}
#mainNav a { /* Asigno parámetros para los elementos a, dentro del ID mainNav */
  color: black;
  text-decoration: none;
  font-size: 18px;
}
#mainNav li:hover { /* Asigno parámetros para la pseudo-clase :hover del elemento li, dentro del ID mainNav */
  background: #aaa;
}
#jumbo {  /* Asigno parámetros para el ID jumbo */
  background-image: url('../images/bg.png');
  background-position: center center;
  min-height: 200px;
  text-align: center;
}
#jumbo h1 { /* Asigno parámetros para los elementos h1, dentro del ID jumbo */
  color: black;
  font-size: 45px;
  padding-top: 20px;
  line-height: 1.6em;
}
#main { /* Asigno parámetros para el ID main */
  float: right;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}
#sidebar {  /* Asigno parámetros para el ID sidebar */
  float: left;
  width: 30%;
  padding: 10px;
  border-right: 1px solid #333;
  box-sizing: border-box;
  letter-spacing: .2em;
  word-spacing: 1em;
}
#mainFooter { /* Asigno parámetros para el ID mainFooter */
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
#pExample { /* Asigno parámetros para el ID pExample */
  width: 400px;
  height: 400px;
  border: 1px solid #333;
  border-radius: 20px 10px 0 5px;
  position: relative;
}
#pExample span:first-child {  /* Asigno parámetros para la pseudo-clase :first-child del elemento span, dentro del ID pExample */
  position: absolute;
  bottom: 20px;
  right: 100px;
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
  text-transform: uppercase;
}
#pExample span:last-child {  /* Asigno parámetros para la pseudo-clase :last-child del elemento span, dentro del ID pExample */
  position: absolute;
  top: 100px;
  left:30px;
}
#fixed {  /* Asigno parámetros para el ID fixed */
  position: fixed;
  bottom: 0;
  right: 50px;
  background:#ff652f;
  padding: 5px;
}

/* media queries */
 @media (max-width:600px){  /*Asigno parámetros a través de la regla-at CSS @media, en los ID main y sidebar */
  #main, #sidebar {
    width: 100%;
    float: none;
    border: none;
  }
}